body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
  }
  a{
    float: right;
    color: green;
  }
  .container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .resistance-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    width: 100%;
  }

  .resistance-inputs label {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .resistance-inputs input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  table {
    width: 100%; /* Set table width to 100% */
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
    margin-top: 20px;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    word-wrap: break-word; /* Allow long content to wrap */
  }

  th {
    background-color: #4caf50;
    color: white;
    font-size: 16px;
  }

  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }

  input[readonly] {
    background-color: #e0e0e0;
    color: #666;
  }

  @media (max-width: 600px) {
    .resistance-inputs {
      flex-direction: column;
    }

    .resistance-inputs label {
      flex-direction: column;
      align-items: flex-start;
    }

    .resistance-inputs input {
      width: 100%;
      margin-top: 5px;
    }

    table {
      font-size: 12px;
    }

    th,
    td {
      padding: 5px;
    }
  }